<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(cartProducts.length){ %>
                <ul>
                    <% cartProducts.forEach(prod=>{ %>
                        <li>
                            <div><%=prod.title%> (qty <%=prod.cartItem.quantity%>)</div>
                            <form action="/delete-cart-item" method="POST">
                                <input type="hidden" name="productId" value="<%=prod.id%>">
                                <button type="submit" class="btn">Delete</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
                <form action='/orders' method="POST">
                    <button type="submit" class="btn">Purchase</button>           
                </form>
            <% } else{%>
                <h1>No Products In The Cart</h1>
            <% } %>
        </main>
<%- include('../includes/end.ejs') %>